# the ModName is not optional. It must be a name, i.e. a string without spaces in it.
# Note: the modname field in the mod selection panel can show up to 22 chars
ModName = "Template"

# This context's name must be "Mod.<ModName>"
[Mod.Template]

# version is also not optional. It must be comparable
Version		= "0.1"

# the next fields are optional.

Description = "This is a great mod Template.\nYou can use it as a template for your own mods."

# this is supposed to be a relative path in the mod directory, like everything else.
Image = "Template.tga"

# point to the website for this mod
WebsiteURL	= "http://www.tset.de/Template"

# should probably point to a file with version and final download url
DownloadURL	= "http://www.tset.de/downloads/Eldritchmod-Template.zip"

# name and other contact data of mod author
Author = "Gunnar Zötl"

# for new worlds: the level to start with
#InitialLevel = "some-level"

# Config files. You can have both compiled and uncompiled config files here.
NumConfigFiles = &
@ ConfigFile
#@@& = "Config/entities.config"

# Package files, if you must have these. These names are a proposal, based
# on the names of the eldritch package files. Everything works fine without
# packages, though.
NumPackages	= &
@ Package
#@@&			= "mod_template.cpk"
#@@&			= "mod_template-audio.cpk"
#@@&			= "mod_template-world.cpk"
#@@&			= "mod_template-textures.cpk"
#@@&			= "mod_template-meshes.cpk"
