# **************************** SampleWorld worldgen ***********************

[WorldGenDef_SampleWorld]

FollowLastNodeRatio	= 0.5
HorizontalRatio		= 0.5
OpenLoopsRatio		= 0.5

NumFeatureRoomDefs = &
@ FeatureRoomDef
@@& = "Feature_SampleWorld_Start"
@@& = "Feature_SampleWorld_Exit"

NumRoomDefs = &
@ RoomDef

@@& = "Rooms/SampleWorld/sampleworld-x.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-n.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-ne.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-ns.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-nes.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-news.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-u.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-nu.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-neu.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-nsu.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-nesu.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-newsu.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-d.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-nd.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-ned.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-nsd.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-nesd.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-newsd.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-ud.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-nud.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-neud.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-nsud.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-nesud.eldritchroom"
@@& = "Rooms/SampleWorld/sampleworld-newsud.eldritchroom"

[WorldGenDef_SampleWorld_Final]

Extends = "WorldGenDef_SampleWorld"

NumFeatureRoomDefs = &
@ FeatureRoomDef
@@& = "Feature_SampleWorld_Start"
@@& = "Feature_SampleWorld_Return"

# **************************** Feature room defs **************************

[Feature_SampleWorld_Start]
Required		= true
SliceMinX		= 0
SliceMaxX		= -1
SliceMinY		= 0
SliceMaxY		= -1
SliceMinZ		= -1
SliceMaxZ		= -1
OpenNeighbors	= true
AllowTransforms	= true
IgnoreFit		= false
NumRoomDefs		= &
@ RoomDef
@@&				= "Rooms/SampleWorld/sampleworld-start-n.eldritchroom"
@@&				= "Rooms/SampleWorld/sampleworld-start-ne.eldritchroom"

[Feature_SampleWorld_Exit]
SliceMinX		= 0
SliceMaxX		= -1
SliceMinY		= 0
SliceMaxY		= -1
SliceMinZ		= 0
SliceMaxZ		= 0
Required		= true
IgnoreFit		= false
AllowTransforms	= true
NumRoomDefs		= &
@ RoomDef
@@&				= "Rooms/SampleWorld/sampleworld-exit-n.eldritchroom"
@@&				= "Rooms/SampleWorld/sampleworld-exit-ne.eldritchroom"

[Feature_SampleWorld_Return]
SliceMinX		= 0
SliceMaxX		= -1
SliceMinY		= 0
SliceMaxY		= -1
SliceMinZ		= 0
SliceMaxZ		= 0
Required		= true
IgnoreFit		= true
AllowTransforms	= true
NumRoomDefs		= &
@ RoomDef
@@&				= "Rooms/SampleWorld/sampleworld-return-n.eldritchroom"
