[EldritchWorld]

NumWorldDefs = ?
@ WorldDef
@@& = "WorldDef_SampleWorld"
@@& = "WorldDef_SampleWorld_Final"

# **************************** Level defs *********************************

[SampleWorld-1]
WorldDef	= "WorldDef_SampleWorld"
Name		= "Level_SampleWorld-1"
RIPName		= "RIPLvlSampleWorld"
NextLevel	= "SampleWorld-2"
PrevLevel	= "Library-Hub" # could also be done with a book or something

[SampleWorld-2]
WorldDef	= "WorldDef_SampleWorld"
Name		= "Level_SampleWorld-2"
RIPName		= "RIPLvlSampleWorld"
NextLevel	= "SampleWorld-3"
PrevLevel	= "SampleWorld-1"

[SampleWorld-3]
WorldDef	= "WorldDef_SampleWorld_Final"
Name		= "Level_SampleWorld-3"
RIPName		= "RIPLvlSampleWorld"
PrevLevel	= "SampleWorld-2"

# **************************** World def **********************************

[WorldDef_SampleWorld]
Tileset			= "Textures/World/tiles-sampleworld_NODXT.tga"
ColorGrading	= "Textures/Post/color-grading-default_NODXT.tga"
WorldGenDef		= "WorldGenDef_SampleWorld"
LightDef		= "Light_SampleWorld"
FogDef			= "Fog_SampleWorld"
# we have no own music...
Music			= "Music_Water-1"

# For midpoint-only displacement
DisplacementNoiseOctaves		= 1
DisplacementNoiseScale			= 0.15
DisplacementNoiseScaleZ			= 0.05
DisplacementNoiseLookupScale	= 2.0

NumVoxelDefs = &
@ VoxelDef
@@&	= "Voxel_Builder"
@@& = "Voxel_SampleWorld_Tile_1"
@@& = "Voxel_SampleWorld_Tile_2"
@@& = "Voxel_SampleWorld_Tile_3"
@@& = "Voxel_SampleWorld_Tile_4"
@@& = "Voxel_SampleWorld_Tile_5"
@@& = "Voxel_SampleWorld_Tile_6"
@@& = "Voxel_SampleWorld_Tile_7"
@@& = "Voxel_SampleWorld_Tile_8"
@@& = "Voxel_SampleWorld_Unbreakable"

[WorldDef_SampleWorld_Final]
Extends		= "WorldDef_SampleWorld"
WorldGenDef	= "WorldGenDef_SampleWorld_Final"

# **************************** Voxel defs *********************************

# no need to define this as it's the same for all worlds
# [Voxel_Builder]
# VoxelValue = 127
# SideTile	= 63
# TopTile	= 63
# BottomTile	= 63

[Voxel_SampleWorld_Tile_1]
VoxelValue	= 1
SideTile	= 0
TopTile		= 0
BottomTile	= 0

[Voxel_SampleWorld_Tile_2]
VoxelValue	= 2
SideTile	= 1
TopTile		= 1
BottomTile	= 1

[Voxel_SampleWorld_Tile_3]
VoxelValue	= 3
SideTile	= 2
TopTile		= 2
BottomTile	= 2

[Voxel_SampleWorld_Tile_4]
VoxelValue	= 4
SideTile	= 3
TopTile		= 3
BottomTile	= 3

[Voxel_SampleWorld_Tile_5]
VoxelValue	= 5
SideTile	= 4
TopTile		= 4
BottomTile	= 4

[Voxel_SampleWorld_Tile_6]
VoxelValue	= 6
SideTile	= 5
TopTile		= 5
BottomTile	= 5

[Voxel_SampleWorld_Tile_7]
VoxelValue	= 7
SideTile	= 6
TopTile		= 6
BottomTile	= 6

[Voxel_SampleWorld_Tile_8]
VoxelValue	= 8
SideTile	= 7
TopTile		= 7
BottomTile	= 7

[Voxel_SampleWorld_Unbreakable]
VoxelValue	= 129
SideTile	= 62
TopTile		= 62
BottomTile	= 62

# **************************** Ambient light defs *************************

[Light_SampleWorld]
HiColorH			= 0.3
HiColorHRange		= 0.05
HiColorS			= 0.1
HiColorSRange		= 0.0
HiColorV			= 0.9
HiColorVRange		= 0.1
LoColorH			= 0.3
LoColorS			= 0.5
LoColorV			= 0.6
AOColorV			= 0.05
AOColorVRange		= 0.05

# **************************** Fog defs ***********************************

[Fog_SampleWorld]
Near	= 0.0
Far		= 15.0
Texture	= "Textures/Post/fog-default_NODXT.tga"
