ModName = "SampleWorld"

[Mod.SampleWorld]

Version		= "0.1"

Description = "This is very simple (and boring) world mod. It just serves to illustrate how to make such a thing."

Image = "SampleWorld.png"

WebsiteURL	= "http://www.tset.de/meldritch"

DownloadURL	= "http://www.tset.de/downloads/Eldritchmod-WorldModTest1.zip"

Author = "Gunnar Zötl"

InitialLevel = "SampleWorld-1"

NumConfigFiles = &
@ ConfigFile
@@& = "Config/world.config"
@@& = "Config/worldgen.config"
@@& = "Config/strings.config"
#uncomment the following line if you want to edit rooms for this mod
#@@& = "Config/tools.config"

NumPackages	= &
@ Package
