# mEldritch base mod. These are just the extras mEldritch needs to do it's
# thing. This mod must not be entered into mods.cfg as it will be loaded
# automatically when mEldritch starts.

ModName = "mEldritch"

[Mod.mEldritch]

Version		= "%VERSION%" # gets filled in automatically

WebsiteURL	= "http://www.tset.de/mEldritch"
Description	= "This is a mod that contains the assets mEldritch needs."
Author		= "Gunnar Zötl"

# config files and packages are appended automatically
