[WorldGenDef_Library]

# only the new rooms go here. Overwritten rooms must not be mentioned
# here as then they will be present twice in the room list.
NumRoomDefs = ?
@ RoomDef
@@& = "Rooms/Library/library-samplemod-nswe.eldritchroom"
@@& = "Rooms/Library/library-samplemod-ne.eldritchroom"
@@& = "Rooms/Library/library-samplemod-nd.eldritchroom"
@@& = "Rooms/Library/library-samplemod-n.eldritchroom"
