ModName = "SampleMod"

[Mod.SampleMod]

Version		= "0.1"
Description	= "Beefing up the Library"
Author		= "Gunnar Zötl"
WebsiteURL	= "http://www.tset.de/meldritch"

# Config files. You can have both compiled and uncompiled config files here.
NumConfigFiles = &
@ ConfigFile
@@& = "Config/worldgen.config"
